* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #14110e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
